@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


@media (max-width: 780px){
  .menu-btn {
  float: right;
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  
  .menu-btn.close {
    transform: rotate(180deg); }
   
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
   
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
   
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

  .menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
 
  .menu.show {
    visibility: visible; }
  
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
 
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
   
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
 
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
   
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
 
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
   
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  
    .menu .nav-item.current > a {
      color: #eece1a; }
  
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
   
    .menu .nav-link:hover {
      color: chartreuse;
        transform: scale(1.25)
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
}

  transition-delay: 0.4s; }


* {
  box-sizing: border-box;
  }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

  body#bg-img {
    background: url(../img/background1.jpg);
    background-attachment: fixed;
    background-size: cover;
    }

    body#bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }

  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem;
    padding-top: 4rem; }

  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 0.25rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  /*color: #04d4a3;*/
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }

  main .icons {
    margin-top: 1rem; }

    main .icons a {
      padding: 0.4rem; }

      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }

  main#home {
    overflow: hidden; }

    main#home h1 {
      margin-top: 20vh; }

/*
======================================================
About Page
======================================================
*/

.about-info {
  display: grid;
  grid-gap: 30px;
  padding-top: 1.5rem;
  grid-template-areas: 'bioimage bio bio' 'job1 job1 job1';
  grid-template-columns: repeat(3, 1fr); }

  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    margin-top: 0.85rem;
    width: 400px;
    height: 300px;
    border: #eece1a 3px solid; }

  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }

@media (max-width: 700px){
  .about-info .bio {
    margin-top: 2rem;
    }
}

  .bio h3{
    margin-bottom: -1rem;
  }

  .job h6 {
    margin-top: -0.25rem;
    margin-bottom: -1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eece1a;
  }

  .job h4 {
    margin-left: 1rem;
    padding-left: 1rem;
    margin-bottom: -0.4rem;
    font-size: 0.80rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .job h3 {
    padding-left: 1rem;
  }

  .job p {
    padding-left: 1rem;
  }

  .about-info .job-1 {
    grid-area: job1; }

  .about-job-image{
    margin-top: 1rem;
    padding-top: 1rem; 
    margin: 2rem;
    height: 50%;
    width: 30%;
    float: right;
    padding-right: 1rem;
  }

  .about-info .job-2 {
    grid-area: job1; }

  .about-info .job-3 {
    grid-area: job1; }

  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem; }

  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }

    .boxes div:hover {
      /*padding: 0.5rem 1.5rem;*/
      background: #eece1a;
      color: #000; }

      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }

  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }

    main .lg-heading {
      line-height: 1;
      margin-bottom: 0.5rem; }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }

    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }

  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
}

@media screen and (max-width: 500px) {
  main {
    padding: 1rem; }

    main #home h1 {
      margin-top: 10vh; }

    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; } 
}

/*
================================================================
  Projects Section
================================================================
*/
.xop-section {
  max-width:1496px;
  margin:0 auto;
  padding:6% 2%;
}

.xop-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.xop-grid:after {
  clear: both;
}

.xop-grid:after,
.xop-box:before {
  content: '';
    display: table;
}

.xop-grid li {
  width: 600px;
  height: 500px;
  display: inline-block;
  margin: 20px;
}

.xop-box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

/*
.xop-box:hover {
  transform: scale(1.075); 
}
*/

/*============Project 1=================*/
.xop-img-1 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-1:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============Project 2=================*/
.xop-img-2 {
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-2:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============Project 3=================*/
.xop-img-3 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-3:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============Project 4=================*/
.xop-img-4 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-4:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============Project 5=================*/
.xop-img-5 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-5:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*============Project 6=================*/
.xop-img-6 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(../img/projects/project6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-6:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
    /* bottom, image */
    url(../img/projects/project6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
  ============Project 7=================
.xop-img-7 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
     bottom, image 
    url(../img/projects/project6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-7:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
     bottom, image 
    url(../img/projects/project6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

============Project 8=================
.xop-img-8 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
     bottom, image 
    url(../img/projects/project6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xop-img-8:hover { 
transform: scale(1.075);
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.80), 
      rgba(0, 0, 0, 0.750)
    ),
     bottom, image 
    url(../img/projects/project6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

.xop-info {
  position: absolute;
  width: inherit;
  height: inherit;
}

.xop-info h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  color: #fff;
  font-size: 72px;
  margin: 0 30px;
  padding: 100px 0 0 0;
  line-height:1.5;
}

.xop-info p {
    font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 4px 5px;
  margin: 0 30px;
  font-size: 16px;
  line-height:2;
}

/*
================================================
Header
================================================
*/

header{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;
  margin: 1em;
}



nav ul{
  margin: 0;
  padding: 1em;
  list-style: none; 
}

nav li{
  display: inline-block;
  margin: 1em;
}

nav a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: .5em;
  color: #FFF;
}

nav a:hover,
nav a:focus{
  color: #eece1a;
}

@media (max-width: 850px){
  nav{
    float: left; 
  }
}

@media (max-width: 625px) {
  
}

/*Modify Header to switch to other version for Mobile */

/*
============================================
Buttons
============================================
*/

.button{
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;;
  border-width: 2px; 
  border-style: solid; 
  padding: .5em 1.75em;
}

.button-accent{
  color:  #eece1a;
  border-color: #eece1a;
}

.button-accent:hover,
.button-accent:focus{
  background: #1b1c1c;
  color: #eece1a; 
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.button-accent-proj{
  margin-left: 2rem;
  color:  #eece1a;
  border-color: #eece1a;
}

.button-accent-proj:hover,
.button-accent-proj:focus{
  background: #1b1c1c;
  color: #eece1a; 
}

/*
===================================================
Project Page
===================================================
*/

.proj-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio';
  grid-template-columns: repeat(3); }

/*===================================================
Bio Image Customization
====================================================*/
  .proj-info .bio-image-uwaft {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2rem;
    width: 450px;
    height: 250px;
    border: #eece1a 3px solid; }

    .proj-info .bio-image-robotic {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2rem;
    width: 500px;
    height: 300px;
    border: #eece1a 3px solid; }

    .proj-info .bio-image-sync {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2rem;
    width: 500px;
    height: 300px;
    border: #eece1a 3px solid; }

    .proj-info .bio-image-ura {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2rem;
    width: 450px;
    height: 250px;
    border: #eece1a 3px solid; }

    .proj-info .bio-image-cern {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2.5rem;
    width: 650px;
    height: 450px;
    border: #eece1a 3px solid; }

    .proj-info .bio-image-web {
    grid-area: bioimage;
    display: cover;
    margin: auto;
    margin-top: 2rem;
    width: 450px;
    height: 250px;
    border: #eece1a 3px solid; }

  .proj-info .bio {
    padding-top: 1.5rem;
    grid-area: bio;
    font-size: 1.5rem; }

@media (max-width: 700px){
  .proj-info .bio {
    margin-top: 2rem;
    }
}

.proj-desc {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'proj1 proj2';
  grid-template-columns: repeat(2,1fr); 
  padding-top: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  }

  .proj-desc .proj1 {
    grid-area: proj1; }

  .proj-desc .proj2 {
    grid-area: proj2; }

  .proj-desc .projdesc {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; }

  .projdesc .proj-title{
    color: #ffffff;
    line-height: 3.25rem;
    font-size: 3rem;
  }

  .projdesc .proj-skills{
    color: #eece1a;
    padding-top: -0.5rem;
    padding-bottom: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    font-size: 1rem;
  }

  .uwaft-image1 { 
    margin: 0.25rem;
    padding-left: 1rem;
    height: 47.5%;
    width: 67.5%;
    float: left;   
  }

  .uwaft-image2 { 
    margin: 0.25rem;
    height: 65%;
    width: 80%;
    float: left;
  }

  .uwaft-image3 { 
    margin: 0.25rem;
    height: 40%;
    width: 70%;
    float: left;
  }

  .uwaft-image4 { 
    margin: 0.25rem;
    height: 55%;
    width: 85%;
    float: left;
  }

  .rasp-image {
    margin: 0.25rem;
    height: 300px;
    width: 450px;
    float: right;
  }

/*=============Project Columns Section END===========*/

  .proj-titles .lg-heading-projrob {
      font-size: 3rem;
      padding-top: 1rem;
  }

  .proj-titles .sm-heading-projrob{
    margin-bottom: 0.25rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5);
    float: left;
  }

  .bio .proj-img-big{
    float: center;
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 1200px;
    height: 900px;
  }

  /*
      ==============================================================
        Start About Section
      ==============================================================
      */

  .about-titles h3{
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }

  .about-titles .lg-heading-about {
      font-size: 3rem;
      padding-top: 1rem;
      padding-bottom: -0.25rem;
      margin-bottom: -0.25rem;
  }

  .about-titles .sm-heading-about{
    margin-bottom: 0.25rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5);
    float: left;
  }

  @media (max-width: 780px) {

  .about-info {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    float: left; 
    }
  }

  .about-titles-image {
    margin-top: 2rem;
    padding-top: 4rem;
    padding: 0.5rem;
    height: 200px;
    width: 200px;
    float: right; 
  }
      /*
      ==============================================================
        End About Section
      ==============================================================
      */

      /*
      ==============================================================
        Start Styling Section Section
      ==============================================================
      */

      .about-titles hr { 
        border: 1px solid #eece1a;
        display: block;
        border-style: solid;

        }
      
      /*
      ==============================================================
        Start Styling Section Section
      ==============================================================
      */