name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]  # or master, depending on your default branch
  workflow_dispatch:  # Allows manual triggering

# Sets permissions for GitHub Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Inject environment variables
        env:
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          # Add other secrets here
        run: |
          chmod +x ./inject_ENV.sh
          ./inject_ENV.sh
