name: Build Website

on:
  push:
    branches: [ master ]  # or master, depending on your default branch
  workflow_dispatch:  # Allows manual triggering

# Sets permissions for GitHub Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    defaults:
      run:
        working-directory: .
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Make the script files executable
        run: chmod +x ./inject_ENV.sh

      - name: Use variables
        env:
          INJECTION_ENV_TEST_KEY: ${{ vars.INJECTION_ENV_TEST_KEY }}
        run: echo "repository variable : $INJECTION_ENV_TEST_KEY"
      
      - name: Inject environment variables
        env:
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          INJECTION_ENV_TEST_KEY: ${{ vars.INJECTION_ENV_TEST_KEY }}
          # Add other secrets here
        run: ./inject_ENV.sh

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # upload entire directory
          path: '.'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
